* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;

} */

.loader{
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 3px;
    background: white;
    margin-left: "46.1%";
     margin-bottom: "75px"
    /* -webkit-box-reflect: below 1px linear-gradient(transparent); */
}

.loader::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,yellow, green, yellow, green, yellow, green, yellow);
    animation: animate 20s linear infinite;
    background-size: 500%;
}

.loader::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,yellow, green, yellow, green, yellow, green, yellow);
    animation: animate 20s linear infinite;
    background-size: 500%;
    filter: blur(20px);
}

@keyframes animate {
    0%
    {
        background-position: 0 0;
    }
    0%
    {
        background-position: 500% 0;
    }
}

